<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Health Predictor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="/general.css" rel="stylesheet">
    <link href="/index.css" rel="stylesheet">
</head>

<body>
    <div>
        <nav class="main_navbar">
            <h4>
                <a href="/user" class="page-title">HealthPredictor</a>
            </h4>
            <ul>
                <li><a href="/user">Homepage</a></li>
                <li><a href="/user/specialist">Specialist</a></li>
                <li><a href="/user/logout">Logout</a></li>
            </ul>
        </nav>
    </div>


    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Smart Health Predictor</h1>
            <p class="lead">Thank you for reaching us. Tell us about your symptoms, okay?</p>
            <hr class="my-4">
            <form action="/login" method="POST">
                <div class="mb-3">
                    <label for="symptoms" class="form-label">Symptoms</label>
                    <input type="text" class="form-control" id="symptoms" name="symptoms">
                    <div id="symptomHelp" class="form-text">Please describe how you are feeling using the search field
                        above</div>
                </div>
                <button type="submit" class="search-button">Search</button>
            </form>

        </div>
    </div>
</body>

</html>